<body>
    <table id="cusdg" title="会员列表" class="easyui-datagrid" style="width:100%;" url="{:U('Cus/cusList')}"  toolbar="#custoolbar" pagination="true" pageSize='15' pageNumber='1' multiSort='true' sortOrder="desc" pageList="[2,5,10,15,20,25,30,40,50]" rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="name" width="10" sortable="true">姓名</th>
                <th field="mobile" width="50" sortable="true">手机号</th>
                <th field="card_no" width="50">会员卡号</th>
                <th field="birthday">生日</th>
                <th field="status" formatter="checkYesNo">状态</th>
                <th field="last_pay_time" width="50" formatter="timestampToDateTime">最后消费时间</th>
                <th field="pay_num" width="50">消费次数</th>
            </tr>
        </thead>
    </table>

    <div id="custoolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="showTab('{:U(\'Cus/add\')}', '添加会员')">添加</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editCus()">停用（启用）</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="viewCus()">查看</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon icon-all" plain="true" onclick="showAll()">全部</a>
        <form id="cusSearch" method="post" novalidate style="display:inline-block;margin-left:50px;">
            <select name="shopId" class="easyui-combobox">
                <option value="0">全部店铺</option>
                <volist name="shops" id="vo">
                    <option value="{$vo['id']}">{$vo['shop_name']}</option>
                </volist>  
            </select>
            <select name="level" class="easyui-combobox">
                <option value="0">会员等级</option>
                <volist name="levels" id="vo">
                    <option value="{$vo['id']}">{$vo['name']}</option>
                </volist>  
            </select>
            <select name="status" class="easyui-combobox">
                <option value="3">全部状态</option>
                <option value="1">启用</option>
                <option value="0">禁用</option>
            </select>
            <select name="cond" class="easyui-combobox">
                <option value="0">过滤条件</option>
                <option value="1">今天生日</option>
                <option value="2">明天生日</option>  
                <option value="3">本周生日</option> 
                <option value="4">本周新增会员</option> 
            </select>
            
            <input name="card_no" class="easyui-textbox" data-options="prompt:'卡号'">
            <input name="name" class="easyui-textbox" data-options="prompt:'姓名'">
            <input name="mobile" class="easyui-textbox" data-options="prompt:'手机号'">
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="cusObj.doSearch()">Search</a>
        </form>
    </div>
    

   <script type="text/javascript">

        //搜索
        var cusObj = {
            'doSearch':function()
            {
                $('#cusdg').datagrid('load',$("#cusSearch").serializeObject());
                return false;
            }
        }

        //启用停用
        function editCus(){
            var row = $('#cusdg').datagrid('getSelected');
            if (row){
                $.messager.confirm('状态提示','真的要改变此会员的状态吗?',function(r){
                    if (r){
                        var durl='{:U("Cus/edit")}';
                        $.post(durl,{id:row.id,status:row.status},function(result){
                            if (result.status){
                                $('#cusdg').datagrid('reload');    // reload the user data
                            } else {
                                $.messager.alert('错误提示',result.message,'error');
                            }
                        },'json').error(function(data){
                            var info=eval('('+data.responseText+')');
                            $.messager.confirm('错误提示',info.message,function(r){
                                
                            });
                        });
                    }
                });
            }
        }

        //查看会员
        function viewCus(){
            var oRow=$('#cusdg').datagrid('getSelected');
            if(oRow){
                showTab('{:U(\'Cus/detail\')}'+'?id='+oRow.id, '会员详情');
            }
            else
            {
                $.messager.alert('提示','请选择要查看的数据!','info');
                return false;
            }
        }

        //删除
        function destroyCus(){
            var row = $('#cusdg').datagrid('getSelected');
            if (row){
                $.messager.confirm('删除提示','真的要删除此套餐吗?',function(r){
                    if (r){
                        var durl='{:U("Cus/delHandle")}';
                        $.post(durl,{id:row.id,M:'m'},function(result){
                            if (result.status){
                                $('#cusdg').datagrid('reload');    // reload the user data
                            } else {
                                $.messager.alert('错误提示',result.message,'error');
                            }
                        },'json').error(function(data){
                            var info=eval('('+data.responseText+')');
                            $.messager.confirm('错误提示',info.message,function(r){
                                
                            });
                        });
                    }
                });
            }
        }

        //显示全部数据
        function showAll(){
            $('#cusdg').datagrid({ queryParams:''});
        }

       

    </script>
    <style type="text/css">
        #fm{
            margin:0;
            padding:10px;
        }
    </style>
    
</body>