<body>
    <table id="carddg" title="会员卡列表" class="easyui-datagrid" style="width:100%;" url="{:U('Card/cardList')}"  toolbar="#cardtoolbar" pagination="true" pageSize='15' pageNumber='1' multiSort='true' sortOrder="desc" pageList="[2,5,10,15,20,25,30,40,50]" rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="activity_name" width="10" sortable="true">活动名称</th>
                <th field="card_number" width="50">数量</th>
                <th field="amount" width="50">剩余</th>
                <th field="add_time" formatter="timestampToDateTime">创建时间</th>
                <th field="username" sortable="true">创建用户</th>
            </tr>
        </thead>
    </table>

    <div id="cardtoolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newCard()">生成会员卡</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="viewCard()">查看</a>
    </div>

    <!-- 会员卡添加 -->
    <div id="cardadddlg" class="easyui-dialog" title="生成会员卡" style="width:400px;padding:10px 20px"
            closed="true" buttons="#carddlg-buttons"  modal="true">
        <form id="cardadd" method="post" novalidate>
            <div class="fitem">
                <label>会员卡数量</label>
                <input name="card_number" class="easyui-textbox" data-options="delay:1000,required:true,height:30,validType:['length[1,20]']" />
            </div>
            <div class="fitem">
                <label>活动名称</label>
                <input name="activity_name" class="easyui-textbox" data-options="delay:1000,required:true,height:30,validType:['length[1,20]']" />
            </div>
        </form>
    </div>
    <div id="carddlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="addCard()" style="width:90px">添加</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#cardadddlg').dialog('close')" style="width:90px">取消</a>
    </div>
    <!-- /会员卡添加 -->


    <!-- 会员卡查看 -->
    <div id="cardview" class="easyui-dialog" title="查看会员卡" style="width:800px;padding:10px 20px"
            closed="true" modal="true" top="10px">
        <table id="carddetaildg" title="会员卡列表" class="easyui-datagrid" style="width:100%;" toolbar="#carddbar" pagination="true" pageSize='15' pageNumber='1' multiSort='true' sortOrder="desc" pageList="[2,5,10,15,20,25,30,40,50]" rownumbers="true" fitColumns="true" singleSelect="true">
            <thead>
                <tr>
                    <th field="card_no" width="50" sortable="true">会员卡号</th>
                    <th field="status" width="50" formatter="checkYesNo">状态</th>
                    <th field="name" width="50">使用用户</th>
                    <th field="activity_time" sortable="true" formatter="timestampToDateTime">激活时间</th>
                </tr>
            </thead>
        </table>

        <div id="carddbar">
        </div>
    </div>
    <!-- /会员卡查看 -->
    

   <script type="text/javascript">

        //添加card对话窗
        function newCard(){
            $('#cardadddlg').dialog('open').dialog('setTitle','生成会员卡');
            $('#cardadd').form('clear');
            url ="{:U('Card/add')}";
        }

        //添加card对话窗
        function viewCard(){
            var row = $('#carddg').datagrid('getSelected');
            if (row){
                $('#cardview').dialog('open').dialog('setTitle','查看会员卡详情');
                $('#carddbar').html("数量："+row.card_number+"<br>活动名称："+row.activity_name);
                $('#carddetaildg').datagrid({
                    url:"{:U('Card/carddetailList')}",
                    queryParams:{
                        cardId: row.id
                    }
                });
            }
            else
            {
                $.messager.confirm('错误提示',"请选择");
            }

            
        }

        //添加店铺
        function addCard(){
            $('#cardadd').form('submit',{
                url: url,
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(result){
                     var result=eval('('+result+')');
                    if (!result.status){
                        $.messager.confirm('错误提示',result.message,function(r){
                            $('#cardadddlg').dialog('close');  
                        });
                    } else {
                        $('#cardadddlg').dialog('close');        // close the dialog
                        $('#carddg').datagrid('reload');    // reload the user data
                    }
                }
            });   
        }

    </script>
    <style type="text/css">
        #fm{
            margin:0;
            padding:10px;
        }
    </style>
    
</body>