<table>
	<input type='hidden' name='id' id='id'/>
	<tr>
		<td width='10%'>编码：</td>
		<td width='40%'> <input name="name" class="easyui-textbox" data-options="required:true,delay:1000,height:30,validType:['length[2,20]']" style='width:150px' /></td>
		<td width='10%'>名称：</td>
		<td width='40%'><input class='easyui-textbox' data-options="required:true,height:30,validType:['length[16,18]']" size='18' style='width:250px' name='identity_num'/></td>
	</tr>
	<tr>
		<td>价格：</td>
		<td>
			<input name="nickname" class="easyui-textbox" data-options="required:true,delay:1000,height:30,validType:['length[2,20]']" style='width:150px' />
		</td>
		<td>类别</td>
		<td>
			<select class="easyui-combobox" name="proxy_type" data-options="panelHeight:'auto'" style='width:150px'>
				<option value="0">请选择</option>
				<?php foreach(D('Agent')->proxyTypeArr as $k=>$v):?>
				<option value="<?=$k?>"><?=$v?></option>
				<?php endforeach;?>
			</select>
		</td>
	</tr>
	<tr>
		<td>适用店铺：</td>
		<td>
			<input type='text' class='easyui-numberbox' data-options="required:true,height:30,validType:['length[11,11]']" size='11' name='mobile'/>
		</td>
		<td></td>
		<td></td>
		
	</tr>
</table>