<body>
    <table id="goodsdg" title="商品列表" class="easyui-datagrid" style="width:100%;" url="{:U('Goods/goodsList')}"  toolbar="#goodstoolbar" pagination="true" pageSize='15' pageNumber='1' multiSort='true' sortOrder="desc" pageList="[2,5,10,15,20,25,30,40,50]" rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="name" width="50" sortable="true">商品名称</th>
                <th field="cate_name" sortable="true">类别</th>
                <th field="shop_name" width="50">商铺</th>
                <th field="price" width="50">单价（积分）</th>
                <th field="add_time" formatter="timestampToDateTime">添加时间</th>
                <th field="update_time">更新时间</th>
            </tr>
        </thead>
    </table>

    <div id="goodstoolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="showTab('{:U(\'Goods/add\')}', '添加商品')">添加</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-redo" plain="true" onclick="showImportGoods()">导入</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-print" plain="true" onclick="exportGoods()">导出</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyGoods()">删除</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon icon-switch" plain="true" onclick="showTab('{:U(\'Package/index\')}', '套餐管理')">套餐管理</a>
       
        <form id="shopSearch" method="post" novalidate style="display:inline-block;margin-left:50px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon icon-all" plain="true" onclick="showAll()">全部</a> 

            <span>店铺:</span>
            <select class="easyui-combobox" name="shopId" id='shopId' data-options="panelHeight:'auto'">
                <option value="0">请选择</option>
                <volist name="shops" id="vo">
                    <option value="{$vo['id']}">{$vo['shop_name']}</option>
                </volist>  
            </select>

            <span>类别:</span>
            <select class="easyui-combobox" name="cateId" id='cateId' data-options="panelHeight:'auto'">
                <option value="0">请选择</option>
                <volist name="cates" id="vo">
                    <option value="{$vo['id']}">{$vo['name']}</option>
                </volist>                        
            </select>

            <input id='searchBox' class="easyui-searchbox" data-options="height:30,menu:'#searchboxSelect',searcher:doSearch"  style="width:300px"/>
                <div id="searchboxSelect">
                    <div data-options="name:'name',iconCls:'icon-group_go'">商品名称</div>
                </div>
        
        </form>
    </div>
    
    <!-- 商品导入 -->
    <div id="importDialog" class="easyui-dialog" style="width:400px;padding:10px 20px"
            title="商品导入" closed="true" buttons="#importButtons"  modal="true">
        <form id="importForm" enctype="multipart/form-data" method="post" novalidate>          
            <div class="fitem">
                <label>文件</label>
                <input class="easyui-filebox" name="goodsCsv" data-options="prompt:'选择文件'">
            </div>
            <div class="fitem">
                <label>模板参考</label>
                <a href="{:U('Goods/demo')}">模板</a>
            </div>
        </form>
    </div>
    <div id="importButtons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="importGoods('{:U('Goods/importGoods')}')" style="width:90px">上传</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:
    $('#importDialog').dialog('close');$('#importForm').form('clear')" style="width:90px">取消</a>
    </div>
    <!-- /商品导入 -->
    

   <script type="text/javascript">

        //搜索
        function doSearch(value,name){
            var shopId = $('#shopId').combobox("getValue");
            var cateId = $('#cateId').combobox("getValue");
            if(value=='' && shopId == 0 && cateId == 0){
                $.messager.alert('搜索提示','搜索内容不能为空!','error');
            }else{
                var searchName=$('#searchBox').searchbox('getName');
                var searchValue=$('#searchBox').searchbox('getValue');
                switch(searchName){
                    case 'code':
                        $('#goodsdg').datagrid('load',{
                            code:searchValue,
                            shopId : shopId,
                            cateId : cateId
                        });
                        break;
                    case 'name':
                        $('#goodsdg').datagrid('load',{
                            name:searchValue,
                            shopId : shopId,
                            cateId : cateId
                        });
                        break;
                }
            }
        }

        //删除店铺
        function destroyGoods(){
            var row = $('#goodsdg').datagrid('getSelected');
            if (row){
                $.messager.confirm('删除提示','真的要删除此商品吗?',function(r){
                    if (r){
                        var durl='{:U("Goods/delHandle")}';
                        $.post(durl,{id:row.id,M:'m'},function(result){
                            if (result.status){
                                $('#goodsdg').datagrid('reload');    // reload the user data
                            } else {
                                $.messager.alert('错误提示',result.message,'error');
                            }
                        },'json').error(function(data){
                            var info=eval('('+data.responseText+')');
                            $.messager.confirm('错误提示',info.message,function(r){
                                
                            });
                        });
                    }
                });
            }
        }

        //显示全部数据
        function showAll(){
            $('#goodsdg').datagrid({ queryParams:''});
        }

        function exportGoods()
        {
            var shopId = $('#shopId').combobox("getValue");
            var cateId = $('#cateId').combobox("getValue");
            window.open("<?php echo U('Goods/export');?>?shopId="+shopId+"&cateId="+cateId);
        }
        function showImportGoods()
        {
            $('#importDialog').dialog('open');
            $('#importForm').form('clear');
        }
        function importGoods(url)
        {
            $('#importForm').form('submit',{
                url:url,
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(result){
                    var result=eval('('+result+')');
                    if(!result.status){
                        $.messager.confirm('错误提示',result.message,function(r){
                            $('#importDialog').dialog('close');  
                        });
                    }else{
                        $('#importDialog').dialog('close');       
                        $('#goodsdg').datagrid('reload'); 
                    }
                },
            });
        }

       

    </script>
    <style type="text/css">
        #fm{
            margin:0;
            padding:10px;
        }
    </style>
    
</body>