<body>
<script type="text/javascript">
	pwObj={
        save:function(url){
            $('#adminPwForm').form('submit',{
                url: url,
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(result){
                     var result=eval('('+result+')');
                    if (!result.status){
                        $.messager.confirm('错误提示',result.message,function(r){
                            $('#adminPwDialog').dialog('close');
                        });
                    }else{
                        if($.messager.confirm('提示','修改成功！是否继续添加',function(r){

                            $('#adminPwDialog').dialog('close');   
                            if(r){
                                closeTab();
                            }else{
                                flushTab();
                            }
                        
                        }));
                    }
                }
            });
        }
    }
</script>
	
    <!-- 编辑用户 -->
    <div id="adminPwDialog" class="easyui-dialog" style="width:400px;padding:10px 20px" buttons="#adminPwButtons" title="修改密码">
        <form id="adminPwForm" method="post" novalidate>          
            <div class="fitem">
                <label>老&nbsp;&nbsp;密&nbsp;&nbsp;码</label>
                <input name="opwd" class="easyui-textbox" type="password" data-options="required:true,validType:['length[6,16]'],height:30" />
            </div>
            <div class="fitem">
                <label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                <input name="pwd" id="adminPwdE" type="password"  class="easyui-textbox" data-options="validType:['length[6,16]','equals[\'#adminRepwdE\']'],height:30" />
            </div>
            <div class="fitem">
                <label>确认密码</label>
                <input name="repwd" id="adminRepwdE" type="password" class="easyui-textbox" data-options="height:30,validType:['length[6,16]','equals[\'#adminPwdE\']']" />
            </div>
        </form>
    </div>
    <div id="adminPwButtons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="pwObj.save('{:U('Admin/pw')}')" style="width:90px">更新</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:
    $('#adminPwDialog').dialog('close')" style="width:90px">取消</a>
    </div>
    <!-- /编辑用户 -->    
</body>