<body>
<script>
function edit(url){
	$('#agentEdit').form('submit',{
		url:url,
		onSubmit: function(){
			return $(this).form('validate');
		},
		success: function(result){
			var result=eval('('+result+')');
			if (!result.status){
					$.messager.alert('提示','提交失败！');
			} else {
				$.messager.alert('提示','修改成功！');
				closeTab();
				flushTab('借款人管理');
			}
		}
	});
}

$(function(){
	//修改是载入数据
	<?php if(!empty($cont)):?>
		var contObj = <?php echo $cont;?>;
		$('#agentEdit').form('load',contObj);
	<?php endif;?>
})
</script>
<form id="agentEdit" method="post" class="bootstrap-frm">
	<input type='hidden' name='id' value='' id='id'/>
	<div class="tit-wrap">
		<h1>基本信息
		<span></span>
		</h1>
		<div class="btn-box">
			<a href='javascript:;' onclick='edit("<?php echo get_url()?>")' class='easyui-linkbutton button'>保存</a>
			<a href='javascript:;' onclick="closeTab();" class='easyui-linkbutton button'>取消</a>
		</div>
	</div>
	<include file='_form' />
</form>
</body>