<body>
    <table id="packagedg" title="套餐列表" class="easyui-datagrid" style="width:100%;" url="{:U('Package/packageList')}"  toolbar="#packagetoolbar" pagination="true" pageSize='15' pageNumber='1' multiSort='true' sortOrder="desc" pageList="[2,5,10,15,20,25,30,40,50]" rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="code" width="10" sortable="true">套餐名称</th>
                <th field="price" width="50">价格</th>
                <th field="name" width="50" sortable="true">商品组合</th>
                <th field="cate_name" sortable="true">状态</th>
                <th field="shop_name" width="50">有效期</th>
                <th field="add_time" formatter="timestampToDateTime">适用店铺</th>
                <th field="update_time">操作</th>
            </tr>
        </thead>
    </table>

    <div id="packagetoolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="showTab('{:U(\'Goods/add\')}', '添加商品')">添加</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyGoods()">删除</a>
       
        <form id="shopSearch" method="post" novalidate style="display:inline-block;margin-left:50px;">
            <select name="shopId">
                <option value="0">全部店铺</option>
                <volist name="shops" id="vo">
                    <option value="{$vo['id']}">{$vo['shop_name']}</option>
                </volist>  
            </select>
            <select name="status">
                <option value="0">全部状态</option>
                <option value="1">进行中</option>
                <option value="2">定时</option>
                <option value="3">失效</option>
                <option value="4">暂停</option>
            </select>
            <span>套餐名称:</span>
            <input name="name" class="easyui-textbox">
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="balanceObj.doSearch()">Search</a>
        </form>
    </div>
    
    

   <script type="text/javascript">

        //搜索
        function doSearch(value,name){
            if(value==''){
                $.messager.alert('搜索提示','搜索内容不能为空!','error');
            }else{
                var searchName=$('#searchBox').searchbox('getName');
                var searchValue=$('#searchBox').searchbox('getValue');
                switch(searchName){
                    case 'code':
                        $('#goodsdg').datagrid('load',{
                            code:searchValue
                        });
                        break;
                    case 'name':
                        $('#goodsdg').datagrid('load',{
                            name:searchValue
                        });
                        break;
                }
            }
        }

        //删除店铺
        function destroyGoods(){
            var row = $('#goodsdg').datagrid('getSelected');
            if (row){
                $.messager.confirm('删除提示','真的要删除此商品吗?',function(r){
                    if (r){
                        var durl='{:U("Goods/delHandle")}';
                        $.post(durl,{id:row.id,M:'m'},function(result){
                            if (result.status){
                                $('#goodsdg').datagrid('reload');    // reload the user data
                            } else {
                                $.messager.alert('错误提示',result.message,'error');
                            }
                        },'json').error(function(data){
                            var info=eval('('+data.responseText+')');
                            $.messager.confirm('错误提示',info.message,function(r){
                                
                            });
                        });
                    }
                });
            }
        }

        //显示全部数据
        function showAll(){
            $('#goodsdg').datagrid({ queryParams:''});
        }

       

    </script>
    <style type="text/css">
        #fm{
            margin:0;
            padding:10px;
        }
    </style>
    
</body>