<body>
    <table id="dg" title="商铺列表" class="easyui-datagrid" style="width:100%;" url="{:U('Shop/shopList')}"  toolbar="#toolbar" pagination="true" pageSize='15' pageNumber='1' multiSort='true' sortOrder="desc" pageList="[2,5,10,15,20,25,30,40,50]" rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="id" width="10" sortable="true">序号</th>
                <th field="shop_name" width="50" sortable="true">店铺名称</th>
                <th field="link_user" sortable="true">联系人</th>
                <th field="link_tel" width="50">联系电话</th>
                <th field="wx" width="50">微信号</th>
                <th field="address" width="50">地址</th>
                <th field="add_time" formatter="timestampToDateTime">添加时间</th>
            </tr>
        </thead>
    </table>

    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newShop()">添加</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editShop()">编辑</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyShop()">删除</a>
       
        <form id="fmSearch" method="post" novalidate style="display:inline-block;margin-left:50px;">
             <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon icon-all" plain="true" onclick="showAll()">全部</a>     
            <input id='searchBox' class="easyui-searchbox" data-options="height:30,menu:'#searchboxSelect',searcher:doSearch"  style="width:300px"/>
                <div id="searchboxSelect">
                    <div data-options="name:'shop_name'">店铺名称</div>
                    <div data-options="name:'link_tel'">联系电话</div>
                </div>
        
        </form>
    </div>
    
    <!-- 店铺添加 -->
    <div id="dlg" class="easyui-dialog" title="添加店铺" style="width:400px;padding:10px 20px"
            closed="true" buttons="#dlg-buttons"  modal="true">
        <form id="fm" method="post" novalidate>
            <div class="fitem">
                <label>店铺名称</label>
                <input name="shop_name" class="easyui-textbox" data-options="delay:1000,required:true,height:30,validType:['length[4,20]','exists[\'店铺名称\',\'{:U('Shop/checkShop','','')}\']']" />
            </div>
            <div class="fitem">
                <label>联系人</label>
                <input name="link_user" class="easyui-textbox" data-options="delay:1000,required:true,height:30,validType:['length[4,20]']" />
            </div>
            <div class="fitem">
                <label>联系电话</label>
                <input name="link_tel" class="easyui-textbox" data-options="delay:1000,required:true,height:30,validType:['length[4,20]']" />
            </div>
            <div class="fitem">
                <label>微信号</label>
                <input name="wx" class="easyui-textbox" data-options="delay:1000,required:true,height:30,validType:['length[4,20]']" />
            </div>
            <div class="fitem">
                <label>地址</label>
                <input name="address" class="easyui-textbox" data-options="delay:1000,required:true,height:30,validType:['length[4,40]']" />
            </div>
        </form>
    </div>
    
    <!-- 店铺编辑 -->
    <div id="dlgEdit" class="easyui-dialog" style="padding:10px 20px;width:500px;"
            closed="true" buttons="#dlgEdit-buttons" modal="true">
        <form id="fmEdit" method="post" novalidate>
            <div class="easyui-panel" title="基本信息" style="padding:5px;">
                <div class="fitem">
                    <label>店铺名称:</label>
                    <input name='id' id="ShopId" type="hidden" />
                    <input name="shop_name" class="easyui-textbox" data-options="delay:1000,height:30, required:true, validType:['length[4,20]', 'exists[\'店铺名称\',\'{:U('Shop/checkShop','','')}\']']">
                </div>
                <div class="fitem">
                    <label>联系人</label>
                    <input name="link_user" class="easyui-textbox" data-options="delay:1000,required:true,height:30,validType:['length[4,20]']" />
                </div>
                <div class="fitem">
                    <label>联系电话</label>
                    <input name="link_tel" class="easyui-textbox" data-options="delay:1000,required:true,height:30,validType:['length[1,20]']" />
                </div>
                <div class="fitem">
                    <label>微信号</label>
                    <input name="wx" class="easyui-textbox" data-options="delay:1000,required:true,height:30,validType:['length[4,20]']" />
                </div>
                <div class="fitem">
                    <label>地址</label>
                    <input name="address" class="easyui-textbox" data-options="delay:1000,required:true,height:30,validType:['length[4,40]']" />
                </div>
            </div>
        </form>
    </div>

    <!-- 添加店铺 -->
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="addShop()" style="width:90px">添加</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
    </div>
    <!-- /添加店铺 -->  

    <!-- 店铺编辑 -->
    <div id="dlgEdit-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveShop()" style="width:90px">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlgEdit').dialog('close')" style="width:90px">取消</a>
    </div>
    <!-- /店铺编辑 -->

   <script type="text/javascript">
        var url;
        //添加店铺对话窗
        function newShop(){
            $('#dlg').dialog('open').dialog('setTitle','添加店铺');
            $('#fm').form('clear');
            url ="{:U('Shop/addHandle')}";
        }

        //编辑店铺对话窗
        function editShop(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $('#dlgEdit').dialog('open').dialog('setTitle','编辑店铺');
                $('#fmEdit').form('load',row);
                url ="{:U('Shop/editHandle','','')}"+'?id='+row.id;
            }
            else
            {
                $.messager.confirm('错误提示',"请选择");
            }
        }

        //添加店铺
        function addShop(){
            $('#fm').form('submit',{
                url: url,
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(result){
                     var result=eval('('+result+')');
                    if (!result.status){
                        $.messager.confirm('错误提示',result.message,function(r){
                            $('#dlg').dialog('close');  
                        });
                    } else {
                        $('#dlg').dialog('close');        // close the dialog
                        $('#dg').datagrid('reload');    // reload the user data
                    }
                }
            });
        }

        //编辑店铺
        function saveShop(){
            $('#fmEdit').form('submit',{
                url: url,
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(result){
                     var result=eval('('+result+')');
                    if (!result.status){
                        $.messager.confirm('错误提示',result.message,function(r){
                            $('#dlgEdit').dialog('close');  
                        });
                    }else{
                        $('#dlgEdit').dialog('close');        // close the dialog
                        $('#dg').datagrid('reload');    // reload the user data
                    }
                }
            });
        }

        //删除店铺
        function destroyShop(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $.messager.confirm('删除提示','真的要删除此店铺吗?',function(r){
                    if (r){
                        var durl='{:U("Shop/delHandle")}';
                        $.post(durl,{id:row.id,M:'m'},function(result){
                            if (result.status){
                                $('#dg').datagrid('reload');    // reload the user data
                            } else {
                                $.messager.alert('错误提示',result.message,'error');
                            }
                        },'json').error(function(data){
                            var info=eval('('+data.responseText+')');
                            $.messager.confirm('错误提示',info.message,function(r){
                                
                            });
                        });
                    }
                });
            }
        }

        //搜索
        function doSearch(value,name){
            if(value==''){
                $.messager.alert('搜索提示','搜索内容不能为空!','error');
            }else{
                var searchName=$('#searchBox').searchbox('getName');
                var searchValue=$('#searchBox').searchbox('getValue');
                switch(searchName){
                    case 'shop_name':
                        $('#dg').datagrid('load',{
                            shop_name:searchValue
                        });
                        break;
                    case 'link_tel':
                        $('#dg').datagrid({ queryParams:{link_tel:searchValue}});
                        break;
                }
            }
        }

        //显示全部数据
        function showAll(){
            $('#dg').datagrid({ queryParams:''});
        }

       

    </script>
    <style type="text/css">
        #fm{
            margin:0;
            padding:10px;
        }
    </style>
    
</body>