<body>
<div class="easyui-panel" title="会员信息" style="width:100%">
        <div style="padding:10px 60px 20px 60px">
        <form id="cusinfo" method="post">
            <table cellpadding="5">
                <tr>
                    <td>会员卡号:</td>
                    <td>
                        <input class="easyui-textbox" type="text" id="card_no" name="card_no" data-options="required:true"></input>
                    </td>
                    <td>
                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="orderObj.getUserDetail()">查询</a>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>会员姓名：</td>
                    <td id="cusname"></td>
                    <td>会员级别：</td>
                    <td id="cuslevel"></td>
                </tr>
                <tr>
                    <td>可用积分：</td>
                    <td id="cusprice"></td>
                    <td>联系方式：</td>
                    <td id="cusmobile"></td>
                </tr>
                
            </table>
        </form>
        </div>
    </div>

    <table id="paydg" title="消费列表" class="easyui-datagrid" style="width:100%;" toolbar="#paytoolbar" rownumbers="true" fitColumns="false" singleSelect="true">
        <thead>
            <tr>
                <th field="type_format" width="50">类型</th>
                <th field="name"  width="150">商品（套餐）名称</th>
                <th field="yj" width="150">单价（积分）</th>
                <th field="count" width="150">数量</th>
                <th field="use_c_level" width="150" formatter="checkYesNo">会员折扣</th>
                <th field="use_sale" width="150" formatter="checkYesNo">商品特价</th>
                <th field="jf">总计</th>
            </tr>
        </thead>
    </table>

    <div id="paytoolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="orderObj.addgoods()">添加商品</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="orderObj.addpackage()">添加套餐</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="orderObj.edit()">设置</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="orderObj.del()">删除</a>
    </div>

    <div class="easyui-panel" title="合计" style="width:100%">
        <div style="padding:10px 60px 20px 60px;">
        <form id="order" method="post">
            <table cellpadding="5" style="width:100%;">
                <tr>
                    <td width="5%">备注:</td>
                    <td width="45%"><input class="easyui-textbox" type="text" id="remark" name="remark"></input></td>
                    <td width="25%"></td>
                    <td width="25%">
                        选择优惠:<select class="easyui-combobox" name="orderSaleId" id='orderSaleId' data-options="required:true,height:30,width:100">
                        <option value="0">无</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="total">合计：</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div style="text-align:right;padding:5px">
                            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="orderObj.pay()">结账</a>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
        </div>
    </div>
    
    <!-- 添加商品 -->
    <div id="paygoodsdlg" class="easyui-dialog" style="width: 600px; height: auto; padding: 10px 20px"  
         data-options="closed:true,buttons:'#paygoodsdlg-buttons'"  modal="true">
        <table id="paygoodsdg" title="选择商品" class="easyui-datagrid" style="width:550px;height:250px" toolbar="#paygoodstoolbar" singleSelect="false" modal="true">
            <thead>
                <tr>
                    <th field="name" sortable="true">商品名称</th>
                    <th field="cate_name" sortable="true">类别</th>
                    <th field="shop_name">商铺</th>
                    <th field="price">单价（积分）</th>
                </tr>
            </thead>
        </table>

        <div id="paygoodstoolbar">
           <form id="paySearch" method="post" novalidate style="display:inline-block;margin-left:50px;">
                <span>店铺:</span>
                <select class="easyui-combobox" name="shopId" id='shopId' data-options="required:true,height:30">
                    <volist name="shops" id="vo">
                        <option value="{$vo['id']}">{$vo['shop_name']}</option>
                    </volist>  
                </select>

                <span>类别:</span>
                <select class="easyui-combobox" name="cateId" id='cateId' data-options="required:true,height:30">
                    <option value="0">请选择</option>
                    <volist name="cates" id="vo">
                        <option value="{$vo['id']}">{$vo['name']}</option>
                    </volist>                        
                </select>
                <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="orderObj.goodsSearch()">Search</a>
            </form>
        </div>

        <div id="paygoodsdlg-buttons">  
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="orderObj.saveGoods()">保存</a>  
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="orderObj.cancelGoods()">关闭</a>  
        </div>
    </div>
    <!-- 添加商品 -->

    <!-- 添加套餐 -->
    <div id="payPdlg" class="easyui-dialog" style="width: 600px; height: auto; padding: 10px 20px"  
         data-options="closed:true,buttons:'#payPdlg-buttons'"  modal="true">
        <table id="payPdg" title="添加套餐" class="easyui-datagrid" style="width:550px;height:250px" toolbar="#payPtoolbar" singleSelect="false" modal="true">
            <thead>
                <tr>
                    <th field="name">套餐名称</th>
                    <th field="jf">价格</th>
                    <th field="goods_info">商品组合</th>
                    <th field="logic_status">状态</th>
                    <th field="setime">有效期</th>
                    <th field="shop_name">适用店铺</th>
                </tr>
            </thead>
        </table>

        <div id="payPtoolbar">
           <form id="payPSearch" method="post" novalidate style="display:inline-block;margin-left:50px;">
                <span>店铺:</span>
                <select class="easyui-combobox" name="PshopId" id='PshopId' data-options="required:true,height:30">
                    <volist name="shops" id="vo">
                        <option value="{$vo['id']}">{$vo['shop_name']}</option>
                    </volist>  
                </select>

                <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="orderObj.PSearch()">Search</a>
            </form>
        </div>

        <div id="payPdlg-buttons">  
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="orderObj.saveP()">保存</a>  
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="orderObj.cancelP()">关闭</a>  
        </div>
    </div>
    <!-- 添加商品 -->

    <!-- 设置 -->
    <div id="payeditdlg" class="easyui-dialog" style="width: 600px; height: auto; padding: 10px 20px"  
         data-options="closed:true,buttons:'#payeditdlg-buttons'"  modal="true">
        <form id="payEditForm" method="post" novalidate>          
            <div class="fitem">
                <label>数量</label>
                <input name="od_id" id="od_id" type="hidden" />
                <input name="payEditCount" id="payEditCount" class="easyui-textbox" data-options="height:30" />
            </div>
            <div class="fitem">
                <label>是否享受会员折扣</label>
                <select id="use_c_level" class="easyui-combobox" name="use_c_level" style="width:200px;">
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </div>
            
            <div class="fitem">
                <label>促销</label>
                <input id="sale_id" name="sale_id" value="无">
            </div>     
        </form>

        <div id="payeditdlg-buttons">  
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="orderObj.saveEdit()">保存</a>  
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="orderObj.cancelEdit()">关闭</a>  
        </div>
    </div>
    <!-- /设置 -->


   <script type="text/javascript">
        orderObj = {
            getUserDetail:function(){
                var userDetailUrl = '{:U('Pay/userDetail')}';
                $.post(userDetailUrl,{card_no:$("#card_no").val()},function(result){
                    if (result.status){
                        //console.log(result);
                        $("#cusname").html(result.cus.name);
                        $("#cuslevel").html(result.cus.lname);
                        $("#cusprice").html(result.cus.jf);
                        $("#cusmobile").html(result.cus.mobile);
                        orderObj.cus_id = result.cus.id;
                        //$('#paydg').datagrid('loadData', result.detail);
                        $('#paydg').datagrid({
                            url:"{:U('Pay/detailList')}",
                            queryParams:{
                                cus_id: orderObj.cus_id
                            },
                            onLoadSuccess: function(data){
                                orderObj.total();
                            }
                        });
                    }else{
                        $.messager.alert('错误提示',result.message,'error');
                        orderObj.cleanDg();
                    }
                },'json').error(function(data){
                    var info=eval('('+data.responseText+')');
                    $.messager.confirm('错误提示',info.message,function(r){
                        orderObj.cleanDg();
                    });
                });
            },
            //添加商品
            addgoods:function(){
                $('#paygoodsdlg').dialog('open').dialog('setTitle','选择商品');
                orderObj.goodsSearch();
            },
            goodsSearch:function(){
                $('#paygoodsdg').datagrid({
                    url:"{:U('Goods/goodsList')}",
                    queryParams:{
                        shopId: $("#shopId").combobox("getValue"),
                        cateId: $("#cateId").combobox("getValue")
                    }
                });
            },
            saveGoods:function(){
                var goodsRow=$('#paygoodsdg').datagrid('getSelections');
                var str='';
                if(goodsRow.length>0){
                    var ids=[];
                    for(var i=0;i<goodsRow.length;i++){
                        ids.push(goodsRow[i].id);
                    }
                    //save goods
                    $.post("{:U('Pay/addGoods')}",
                        {
                            goods_ids:ids.join(','),
                            cus_id: orderObj.cus_id
                        },
                        function(result){
                            if (result.status){
                                $('#paygoodsdlg').dialog('close');
                                $('#paydg').datagrid('reload');
                            }else{
                                $.messager.alert('错误提示',result.message,'error');
                                orderObj.cleanDg();
                            }
                    },'json').error(function(data){
                        var info=eval('('+data.responseText+')');
                        $.messager.confirm('错误提示',info.message,function(r){
                            //
                        });
                    });
                }
                else
                {
                    $.messager.alert('提示','请选择商品!','info');
                    return false;
                }
            },
            cancelGoods:function(){
                $('#paygoodsdg').datagrid('loadData', { total: 0, rows: [] });
                $('#paygoodsdlg').dialog('close');
            },
            //添加套餐
            addpackage:function(){
                $('#payPdlg').dialog('open').dialog('setTitle','选择套餐');
                orderObj.PSearch();
            },
            PSearch:function(){
                
                $('#payPdg').datagrid({
                    url:"{:U('Package/packageList')}",
                    queryParams:{
                        shopId: $("#PshopId").combobox("getValue"),
                        status: 1
                    }
                });
            },
            saveP:function(){
                var goodsRow=$('#payPdg').datagrid('getSelections');
                var str='';
                if(goodsRow.length>0){
                    var ids=[];
                    for(var i=0;i<goodsRow.length;i++){
                        ids.push(goodsRow[i].id);
                    }
                    //save goods
                    $.post("{:U('Pay/addP')}",
                        {
                            p_ids:ids.join(','),
                            cus_id: orderObj.cus_id
                        },
                        function(result){
                            if (result.status){
                                $('#payPdlg').dialog('close');
                                $('#paydg').datagrid('reload');
                            }else{
                                $.messager.alert('错误提示',result.message,'error');
                                orderObj.cleanDg();
                            }
                    },'json').error(function(data){
                        var info=eval('('+data.responseText+')');
                        $.messager.confirm('错误提示',info.message,function(r){
                            //
                        });
                    });
                }
                else
                {
                    $.messager.alert('提示','请选择商品!','info');
                    return false;
                }
            },
            cancelP:function(){
                $('#payPdg').datagrid('loadData', { total: 0, rows: [] });
                $('#payPdlg').dialog('close');
            },
            //编辑商品（套餐）
            edit:function(){
                var odRow=$('#paydg').datagrid('getSelected');
                if(odRow){
                    //初始化促销下拉框
                    $('#sale_id').combobox({
                        url:'{:U('Pay/getGoodsSales')}'+'?goods_id='+odRow.goods_id+'&cus_id='+orderObj.cus_id+'&type='+odRow.type,
                        method:'get',
                        valueField:'id',
                        textField:'name'
                    });
                    //初始化编辑数据
                    $('#payEditForm').form('load',{
                        od_id:odRow.id,
                        payEditCount: odRow.count,
                        use_c_level:odRow.use_c_level,
                        sale_id:odRow.sale_id,
                    });
                    $('#payeditdlg').dialog('open').dialog('setTitle','设置');
                }
                else
                {
                    $.messager.alert('提示','请选择要编辑的数据!','info');
                    return false;
                }
            },
            saveEdit:function(){
                $('#payEditForm').form('submit',{
                    url: '{:U('Pay/saveOd')}',
                    onSubmit: function(){
                        return $(this).form('validate');
                    },
                    success: function(result){
                         var result=eval('('+result+')');
                        if (!result.status){
                            $.messager.confirm('错误提示',result.message,function(r){
                                //$('#payeditdlg').dialog('close');
                            });
                        }else{
                            $('#payEditForm').form('clear');
                            $('#payeditdlg').dialog('close'); 
                            $('#paydg').datagrid('reload');  
                        }
                    }
                });
            },
            del:function(){
                var row = $('#paydg').datagrid('getSelected');
                if (row){
                    $.messager.confirm('删除提示','真的要删除吗?',function(r){
                        if (r){
                            var durl='{:U("Pay/delHandle")}';
                            $.post(durl,{id:row.id},function(result){
                                if (result.status){
                                    $('#paydg').datagrid('reload');
                                } else {
                                    $.messager.alert('错误提示',result.message,'error');
                                }
                            },'json').error(function(data){
                                var info=eval('('+data.responseText+')');
                                $.messager.confirm('错误提示',info.message,function(r){
                                    
                                });
                            });
                        }
                    });
                }
                else
                {
                    $.messager.alert('提示','请选择要删除的数据!','info');
                    return false;
                }
            },
            cancelEdit:function(){
                $('#payEditForm').form('clear');
                $('#payeditdlg').dialog('close');
            },
            // 清空结果
            cleanDg:function(){
                $("#cusname").html("");
                $("#cuslevel").html("");
                $("#cusprice").html("");
                $("#cusmobile").html("");
                orderObj.cus_id = 0;
                $('#paydg').datagrid('loadData', { total: 0, rows: [] });
            },
            // 计算总和
            total:function(){
                var data = $('#paydg').datagrid('getData');
                var total = 0;
                var sale_total = 0;
                for(var i=0; i<data.total; i++){
                    var row = data.rows[i];
                    total += parseFloat(row.jf);
                }
                $("#total").html("合计："+total);
                //初始化店铺促销下拉框
                $('#orderSaleId').combobox({
                    url:'{:U('Pay/getShopSales')}'+'?cus_id='+orderObj.cus_id,
                    method:'get',
                    valueField:'id',
                    textField:'name',
                    onSelect: function(rec){
                        orderObj.sale_id = rec.id;
                        total = 0;
                        sale_total = 0;
                        for(var i=0; i<data.total; i++){
                            var row = data.rows[i];
                            if(parseInt(row.use_c_level) == 0 && parseInt(row.sale_id) == 0)
                            {
                                sale_total += parseFloat(row.jf);
                            }
                            else
                            {
                                total += parseFloat(row.jf);
                            }
                        }
                        //判断满减条件
                        if(sale_total>=parseFloat(rec.full))
                        {
                            if(parseInt(rec.full) == 3)
                            {
                                total = total + sale_total - parseFloat(rec.cut);
                            }
                            else
                            {
                                total = total + (sale_total * parseFloat(rec.cut));
                            }
                        }
                        else
                        {
                            total = total + sale_total;
                        }


                        $("#total").html("合计："+total.toFixed(2));
                    }
                });
            },
            pay:function(){
                $.post('{:U('Pay/pay')}',
                    {
                        cus_id:orderObj.cus_id,
                        sale_id:orderObj.sale_id,
                        remark:$("#remark").val()
                    },
                    function(result){
                    if (result.status){
                        closeAndShow('{:U(\'Cus/detail\')}'+'?id='+orderObj.cus_id+'&type=1', '会员详情');
                    }else{
                        $.messager.alert('错误提示',result.message,'error');
                    }
                },'json').error(function(data){
                    var info=eval('('+data.responseText+')');
                    $.messager.confirm('错误提示',info.message,function(r){
                        //orderObj.cleanDg();
                    });
                });

            }

            
        }

        

        //显示全部数据
        function showAll(){
            $('#paydg').datagrid({ queryParams:''});
        }

        <if condition="$Think.get.card_no != null">
            $(window).load(function(){
                $("#card_no").textbox('setValue',"{$Think.get.card_no}");
                var userDetailUrl = '{:U('Pay/userDetail')}';
                $.post(userDetailUrl,{card_no:$("#card_no").val()},function(result){
                    if (result.status){
                        //console.log(result);
                        $("#cusname").html(result.cus.name);
                        $("#cuslevel").html(result.cus.lname);
                        $("#cusprice").html(result.cus.jf);
                        $("#cusmobile").html(result.cus.mobile);
                        orderObj.cus_id = result.cus.id;
                        //$('#paydg').datagrid('loadData', result.detail);
                        $('#paydg').datagrid({
                            url:"{:U('Pay/detailList')}",
                            queryParams:{
                                cus_id: orderObj.cus_id
                            },
                            onLoadSuccess: function(data){
                                orderObj.total();
                            }
                        });
                    }else{
                        $.messager.alert('错误提示',result.message,'error');
                        orderObj.cleanDg();
                    }
                },'json').error(function(data){
                    var info=eval('('+data.responseText+')');
                    $.messager.confirm('错误提示',info.message,function(r){
                        orderObj.cleanDg();
                    });
                });
            });
        </if>

       

    </script>
    <style type="text/css">
        #fm{
            margin:0;
            padding:10px;
        }
    </style>
    
</body>